@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-normal: 400;
    --font-bold: 700;
    --font-light: 300;
    --font-lg: 22px;
    --font-md: 16px;
    --font-sm: 10px;
    --font-family-body: 'Poppins', sans-serif;
}
